.header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;

  .banner {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }

  .container_info {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 30px;
    }

    .container_small_desc {
      display: flex;
      width: 75%;
      margin-bottom: 50px;

      .subContainerDateAndAuthor {
        display: flex;
        align-items: center;
        width: 50%;
        height: 25px;

        img {
          margin-right: 10px;
        }
      }
      & + .subContainerDateAndAuthor {
        margin-left: 20px;
      }
    }
  }
}
